@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-colour: #7c3aed;
  --white: #ffffff;
  --grey: #6b7280;
  --off-white: #f1f5f9;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 85%;
  width: 100%;
  margin: 0px auto;
}

.container {
    margin: auto;
    max-width: 600px;
  }

.container-fluid {
  padding: 0em 1em;
}

.navigation {
  background-color: var(--primary-colour);
  color: var(--white);
  border-bottom-left-radius: 1rem;
  padding: 1rem;
}

.brand {
  font-weight: bold;
}

.brand a {
  text-decoration: none;
  color: inherit;
}

.list-unordered {
  list-style: none;
  padding-inline-start: 0px;
}

.list-inline li {
  display: inline;
  padding: 0rem 1.5rem;
}

.navigation ul {
  text-align: right;
  margin: 0.6rem 1rem;
}

.active {
  font-weight: bold;
}

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero img {
    max-width: 80%;
    width: 550px;
    height: auto;
    margin: auto;
    display: block;
}

.hero-heading {
    text-align: center;
    color: var(--grey);
}

.hero-heading-span {
    color: var(--primary-colour);
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }
}
