@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-colour: #7c3aed;
  --white: #ffffff;
  --grey: #6b7280;
  --off-white: #f1f5f9;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 85%;
  width: 100%;
  margin: 0px auto;
}

.container-fluid {
  padding: 0em 1em;
}

.navigation {
  background-color: var(--primary-colour);
  color: var(--white);
  border-bottom-left-radius: 1em;
  padding: 1rem;
}

.brand {
  font-weight: bold;
}

.brand a {
    text-decoration: none;
    color: inherit;
}

.list-unordered {
  list-style: none;
  margin: 0px;
}

.list-inline li {
  display: inline;
  padding: 0em 1.5em;
}

.navigation ul {
  text-align: right;
  padding-right: 1em;
  margin: 1em 1em;
}

.active {
  font-weight: bold;
}
